:root {
  /* Variables */
  --main-color: #5ea2eb;
  --main-color-opacity: #5ea2ebcc;
  --secondary-color: #ffe945;
  --light-black: #404040;
  --light-grey: #d9d9d9;
  --background-grey: #f5f5f5;
  --white-80: #ffffffcc;
  --basic-grey: #555555;
  --shadow_initial: 2px 4px 8px -2px grey;
  --shadow_hover: 4px 8px 16px -4px grey;
  --border_card: 1px solid lightgrey;
}

/* Font sizes */
* {
  font-size: 1rem;
  font-family: "Jost", sans-serif !important;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

/* Global queries */
html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 1rem;
  gap: 1rem;
  width: 90%;
  max-width: 60rem;
  background-color: white;
}

.centeredContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2.5rem;
  border: black;
  box-shadow: var(--shadow_initial);
  border-radius: 1rem;
  gap: 2rem;
  width: 90%;
  max-width: 60rem;
  background-color: white;
}

.textInput {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

/* Global buttons */
.button {
  background-color: var(--main-color);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: var(--shadow_initial);
  text-shadow: 1px 0 var(--light-black), -1px 0 var(--light-black),
    0 1px var(--light-black), 0 -1px var(--light-black),
    1px 1px var(--light-black), -1px -1px var(--light-black),
    1px -1px var(--light-black), -1px 1px var(--light-black);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  align-self: center;
}

.button:hover {
  background-color: var(--secondary-color);
}

.disabled {
  background-color: var(--light-grey);
  cursor: initial;
}

.disabled:hover {
  background-color: var(--light-grey);
}

/* Other */
.error {
  color: red;
  font-weight: bold;
}

.info {
  color: var(--main-color);
  font-weight: bold;
  text-shadow: 1px 0 var(--shadow_initial), -1px 0 var(--shadow_initial),
    0 1px var(--shadow_initial), 0 -1px var(--shadow_initial),
    1px 1px var(--shadow_initial), -1px -1px var(--shadow_initial),
    1px -1px var(--shadow_initial), -1px 1px var(--shadow_initial);
}

.successImg,
.errorImg {
  width: 6rem;
  max-width: 30%;
}

.spinningPokeball {
  display: block;
  margin: auto;
  width: 100px;
  animation: rotation 1s linear infinite;
  position: relative;
  top: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
